body {
  background-color: #ff7f48;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
}

.card {
  background-color: white;
  border-radius: 15px;
  width: 230px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 20px #0000004d;
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card p:first-of-type{
    color: #ff002b;
}
.card p{
    color: gray;
}

.card div{
    background-color: #ff002b;
    display: flex;
    color: white;
}

.card span{
    flex: 1;
    padding: 10px;
    font-size: small;
    border: 1px solid #161515;
}
